Repository gregorias/karabiner.ts-greg-mods: changes, and which lefthook commands are due for each by the changed paths.
All: json-prettier, yaml-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    js-prettier:
      tags: style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.{js,jsx,mjs,ts,tsx,mts}"
      run: prettier -c {staged_files}
    json-prettier:
      tags: style
      glob: "*.json"
      run: prettier -c {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    test:
      tags: test
      run: npm run test
commit-msg:
  commands:
    commitlint:
      run: commitlint --edit={1}

docs: document why the layer-block is necessary
  src/hold-tap-layer.ts
Due: none

feat(hold-tap): add condition
  src/hold-tap-layer.ts
  tests/hold-tap-layer.test.ts
Due: none

feat(mod-tap): add condition
  src/mod-tap-layer.ts
Due: none

chore: update deps
  package-lock.json
Due: json-prettier

chore(release): 0.7.1
  package-lock.json
  package.json
Due: json-prettier

chore: update deps
  package-lock.json
  package.json
Due: json-prettier

chore(release): 0.7.2
  package-lock.json
  package.json
Due: json-prettier

docs: warn about low if_held timers
  README.md
Due: none

docs: update README.md
  DEV.md
  README.md
Due: none

chore: add eslint
  eslint.config.mjs
  lefthook.yml
  package-lock.json
  package.json
Due: json-prettier, yaml-prettier

chore: add hooks
  .lefthook/pre-commit/npm-install.sh
  lefthook.yml
Due: yaml-prettier

chore: fix local storage warning
  package-lock.json
  package.json
Due: json-prettier

docs: document requirements
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
Due: none

chore(release): 0.8.1
  package-lock.json
  package.json
Due: json-prettier

chore(release): 0.8.2
  package-lock.json
  package.json
Due: json-prettier

chore: format files
  jest.config.js
  src/hrm.ts
  src/mod-tap.ts
  tests/karabiner-extra.test.ts
  tests/mod-tap.test.ts
Due: none

chore: stop auto-running NPM install
  .lefthook/pre-commit/npm-install.sh
  Justfile
  lefthook.yml
Due: yaml-prettier

chore: migrate formatters and checks to Justfile
  Justfile
  lefthook.yml
Due: yaml-prettier

chore: migrate pre-commit checks to Jujutsu
  DEV.md
  Justfile
  scripts/check.sh
  scripts/ship.sh
Due: none

chore: update lock file
  package-lock.json
  package.json
Due: json-prettier
